body {
  background-image: url(assets/blur1.jpg);
  background-size: cover;
}

.c_mac-book-pro162-frame {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* border: solid 1px; */
}

.c_rectangle51-rectangle {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 551px;
  border-radius: 50px 50px 50px 50px;
}
.c_mac-book-pro162-rectangle1 {
  width: 100%;
  height: auto;
  margin: 0;
  /* max-width: 551px; */
  margin-top: 10rem;
  margin-bottom: 50px;
  /* border: solid 1px; */
}

.c_mac-book-pro162-rectangle1 {
  max-width: 551px;
  border-radius: 50px 50px 50px 50px;
}

.c_mac-book-pro162-text {
  width: 100%;
  max-width: 388px;
  margin-top: 0;
  min-height: 84px;
  text-align: center;
  margin-bottom: 0;
}

.c_mac-book-pro162-text1 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  margin-top: 50px;
  text-align: center;
  font-family: "Inter",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_mac-book-pro162-rectangle2 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 167px;
  border-radius: 50px 50px 50px 50px;
}

.c_mac-book-pro162-text2 {
  width: 100%;
  max-width: 140px;
  margin-top: 0;
  min-height: 28px;
  text-align: center;
  margin-bottom: 0;
}

.c_mac-book-pro162-text3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Inter",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_mac-book-pro162-frame1 {
  width: 100%;
  overflow: hidden;
  max-width: 34px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_mac-book-pro162-text4 {
  width: 100%;
  max-width: 140px;
  margin-top: 0;
  min-height: 25px;
  text-align: center;
  margin-bottom: 0;
}

.c_mac-book-pro162-text5 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_mac-book-pro162-rectangle3 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 312px;
}